<!DOCTYPE html>
  <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>PhotoGrid</title>
        <link rel="stylesheet" href="../css/main.css">
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="../js/photogrid_utils.js"></script>
        <script src="socket.io/socket.io.js"></script>
        <script type="text/javascript">
            var host = '{{ host }}';

            $(function() {
                renderList();

                $(document).on('click', '#doUpload', function() {
                    uploadNow();
                });

                var socket = io(host);
                
                socket.on('status', function(data){
                    showStatus(data.msg, data.delay);
                });
                
                socket.on('doUpdate', function(){
                    renderList();
                });
                function renderList(){
                  $('.gallery ul').html('');
                  ajax({
                    url: host + '/getimages',
                    success: function(data){
                      var imageList = JSON.parse(data.response);
                      for(var i = 0; i < imageList.length; i++){
                         var listItem = '<li>' +
                                          '<div class="overlay">' +
                                            '<div class="voteCtrl">' +
                                              '<a href="#" data-photoid="' + imageList[i]._id  + '" class="voteUp">' +
                                                  '<img src="../images/voteup.png" alt="Click Here to Vote Up !">' +
                                                  '<h4>' + imageList[i].votes  + '</h4>' +
                                              '</a>' +
                                            '</div>' +
                                          '</div>' +
                                          '<div class="imageHolder">' +
                                              '<img src="https://d1vj1ng2ofpw4q.cloudfront.net/' + imageList[i].filename  + '" alt="">' +
                                          '</div>' +
                                        '</li>';
                        $('.gallery ul').append(listItem);
                      }
                    },
                  })
                }
                
                function uploadNow() {
                    $('.progess').fadeIn(100);
                    var uploadUrl = host + '/upload';
                    var uploadFile = $('.uploadPic');
                    if (uploadFile.val() !== '') {
                        var form = new FormData();
                        form.append("upload", uploadFile[0].files[0]);
                        // perform ajax post request and send file
                        ajax({
                            method: 'post',
                            url: uploadUrl,
                            success: function() {
                                $('.progess').fadeOut(100);
                                uploadFile.val('');
                            },
                            progress: function(e) {
                                if (e.lengthComputable) {
                                    var perc = Math.round((e.loaded * 100) / e.total);
                                    $('.progess').css('width', (perc + '%'));
                                }
                            },
                            payload: form
                        });
                    }
                }
            });
            
            $(document).on('click', '.voteUp', function(e){
                var that = $(this);
                ajax({
                  method: 'put',
                  url: host + '/voteup/' + that.data('photoid'),
                  success: function(data){
                    var parseData = JSON.parse(data.response);
                    console.log(parseData.votes);

                    that.find('h4').html(parseData.votes);
                  }
                })
            })
            
        </script>


    </head>

    <body>
        <div class="container">
            <div class="topDeck">
                <div class="logo">
                    <h1>PhotoGRID</h1>
                </div>
                <div class="controls">
                    <input type="file" name="uploadPic" class="uploadPic">
                    <button id="doUpload">Upload</button>
                    <div class="progressBarDiv">
                        <div class="progress"></div>
                    </div>
                    <h5 class="status"></h5>
                </div>
            </div>
            <div class="gallery">
                <ul>



                </ul>
            </div>
        </div>
    </body>

</html>